<footer>
    <div class="left">
        <app-logo></app-logo>
        <p>Lorem ipsum dolor, sit amet <br> consectetur adipisicing elit. <br> nam distinctio enim!</p>
        <app-button [label]="'get in touch'"></app-button>
        <app-icon></app-icon>
    </div>
    <div>
        
    </div>
    <div class="contact">
        <h2>Contact me</h2>
        <h4>email</h4>
        <p>uxbeast9&#64;gmail.com</p>
        <h4>phone</h4>
        <p>+221 12345567890</p>
        <h4>adresse</h4>
        <p>hann maristees</p>
    </div>
    <div class="right">
        
        <div class="pages">
            <h2>Pages</h2>
            <a href="">home</a>
            <a href="">our team</a>
            <a href="">contact</a>
            <a href="">portfolio</a>
        </div>
    </div>
</footer>
