.btn{
    display: inline-block;
    font-size: 15px;
    color: black;
    background-color: #CBFE47;
    border-radius: 10px;
    padding: 15px 25px;
    transition: .2s ease-in-out;
    margin: 10px 0;
    text-transform: capitalize;
}
.btn:hover{
    background-color: rgb(132, 235, 15);
}