header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: chocolate;
}
nav{
    display: flex;
}
nav a{
    display: inline-block;
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 15px;
}
