*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: rgb(187, 110, 110);
    color: white;
}
img{
    width: 100%;
}
section{
    padding: 90px 10%;
}
footer{
    padding: 30px 10%;
}